*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --fondo:#18313b;
    --botones:#f39548;
    --letras:#2a9d8f;
    --botones2:#eb6629;
}
body{
    background: var(--fondo);
    display: flex;
    flex-direction: row;
    position: relative;
}
/*INICIO PRESENTACION DE LOGO*/
.marco{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: var(--fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: finLogo 3s 5s 1 linear forwards;
}
@keyframes finLogo {
    100%{
        opacity: 0;
        visibility:hidden;
    }
    0%{
        opacity: 1;
    }
}
.marcoRombo{
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 0.3rem;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: luzRombo 2s 3s 1 linear forwards;
}
@keyframes luzRombo {
    0%{
        box-shadow: 0 0 1rem var(--botones2), 0 0 3rem var(--botones2), 0 0 5rem var(--botones2),0 0 10rem var(--botones2);
    }
    25%{
        box-shadow: 0 0 1rem var(--botones2), 0 0 3rem var(--botones2), 0 0 5rem var(--botones2);
    }
    50%{
        box-shadow: 0 0 1rem var(--botones2), 0 0 3rem var(--botones2);
    }
    75%{
        box-shadow: 0 0 1rem var(--botones2);
    }
    100%{

    }
}
.marcoRombo__letra{
    color: var(--botones2);
    transform: rotate(-45deg);
    font-size: 4rem;
    animation: luzLetra 2s 3s 1 linear forwards;
}
@keyframes luzLetra {
    0%{
        text-shadow: 0 0 1rem var(--botones2), 0 0 3rem var(--botones2), 0 0 5rem var(--botones2),0 0 10rem var(--botones2);
    }
    25%{
        text-shadow: 0 0 1rem var(--botones2), 0 0 3rem var(--botones2), 0 0 5rem var(--botones2);
    }
    50%{
        text-shadow: 0 0 1rem var(--botones2), 0 0 3rem var(--botones2);
    }
    75%{
        text-shadow: 0 0 1rem var(--botones2);
    }
    100%{

    }
}

.marcoRombo__svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;

}
.marcoRombo__svg-recta{
    width: 100%;
    height: 100%;
    stroke: var(--botones2);
    stroke-width: 0.5rem;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: vuelta 5s 1 linear forwards;
}
@keyframes vuelta{
    100%{
        stroke-dashoffset: 0;
    }
}
/*FIN PRECENTACION DE LOGO*/

/*INICIO NAV*/
header{
    width: 100%;
}
.nav__container{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.nav__icon{
    border: 0.1rem solid var(--botones2);
    width: 2rem;
    height: 2rem;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav__icon-letras{
    position: absolute;
    transform: rotate(-45deg);
    font-size: 1.2rem;
    color: var(--botones2);
}
.nav__iconMenu{
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem solid var(--letras);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}
.nav__iconMenu-linea{
    width: 1.5rem;
    height:0.1rem;
    background: var(--letras);
}
.nav__menu-items{
    width: 0;
    border: var(--letras) 0.1rem solid;
    opacity: 0;
    color: var(--botones2);
    padding: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}
.animaciones-nav{
    width: 100%;
    animation: animationMenu 1s 1 ease-in forwards;
}
@keyframes animationMenu {
    from{
        opacity: 0;
        transform: translate(10rem);
    }
    to{
        opacity: 1;
        transform: translate(0rem);
    }
}
.nav__menu-items:nth-child(1){
    animation-delay: 0.2s;
}
.nav__menu-items:nth-child(2){
    animation-delay: 0.4s;
}
.nav__menu-items:nth-child(3){
    animation-delay: 0.6s;
}
.nav__menu-items:nth-child(4){
    animation-delay: 0.8s;
}